{# templates/student/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel étudiant{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3 mb-0">Créer un nouvel étudiant</h1>
    </div>

    <div class="table-responsive">
        {{ form_start(form)}}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.email) }}
            <button class="btn btn-primary">Valider</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
